@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@keyframes rotate-cw {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-cw {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes snow-fall-1 {
    from {
        top: 15%;
    }

    to {
        top: 20.2%;
    }
}

@-webkit-keyframes snow-fall-1 {
    from {
        top: 15%;
    }

    to {
        top: 20.2%;
    }
}

@keyframes snow-fall-2 {
    from {
        top: 18%;
    }

    to {
        top: 23.2%;
    }
}

@-webkit-keyframes snow-fall-2 {
    from {
        top: 18%;
    }

    to {
        top: 23.2%;
    }
}

@keyframes candle-fire {
    0% {
        transform: translateX(-50%) scale(1, 1);
    }
    
    25% {
        transform: translateX(-50%) scale(0, 1);
    }
    
    50% {
        transform: translateX(-50%) scale(-1, 1);
    }

    75% {
        transform: translateX(-50%) scale(0, 1);
    }

    100% {
        transform: translateX(-50%) scale(1, 1);
    }
}

@-webkit-keyframes candle-fire {
    0% {
        transform: translateX(-50%) scale(1, 1);
    }
    
    25% {
        transform: translateX(-50%) scale(0, 1);
    }
    
    50% {
        transform: translateX(-50%) scale(-1, 1);
    }

    75% {
        transform: translateX(-50%) scale(0, 1);
    }

    100% {
        transform: translateX(-50%) scale(1, 1);
    }
}

@keyframes flip {
    0% {
        transform: scale(1, 1);
    }
    
    25% {
        transform: scale(0, 1);
    }
    
    50% {
        transform: scale(-1, 1);
    }

    75% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes flip {
    0% {
        transform: scale(1, 1);
    }
    
    25% {
        transform: scale(0, 1);
    }
    
    50% {
        transform: scale(-1, 1);
    }

    75% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes crow-flip {
    0% {
        transform: scale(1, 1);
    }
    
    10% {
        transform: scale(0, 1);
    }
    
    20% {
        transform: scale(-1, 1);
    }
    
    50% {
        transform: scale(-1, 1);
    }

    75% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes crow-flip {
    0% {
        transform: scale(1, 1);
    }
    
    10% {
        transform: scale(0, 1);
    }
    
    20% {
        transform: scale(-1, 1);
    }
    
    50% {
        transform: scale(-1, 1);
    }

    75% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes pick {
    0% {
        transform: rotate(0deg);
    }
    
    10% {
        transform: rotate(-45deg);
    }
    
    15% {
        transform: rotate(-15deg);
    }
    
    20% {
        transform: rotate(-45deg);
    }
    
    25% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes pick {
    0% {
        transform: rotate(0deg);
    }
    
    10% {
        transform: rotate(-45deg);
    }
    
    15% {
        transform: rotate(-15deg);
    }
    
    20% {
        transform: rotate(-45deg);
    }
    
    25% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes bell-swing {
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(-25deg);
    }
    
    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes bell-swing {
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(-25deg);
    }
    
    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes umbrella-swing {
    0% {
        transform: rotate(0deg);
    }
    
    10% {
        transform: rotate(25deg);
    }
    
    15% {
        transform: rotate(5deg);
    }
    
    20% {
        transform: rotate(25deg);
    }
    
    25% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes umbrella-swing {
    0% {
        transform: rotate(0deg);
    }
    
    10% {
        transform: rotate(25deg);
    }
    
    15% {
        transform: rotate(5deg);
    }
    
    20% {
        transform: rotate(25deg);
    }
    
    25% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes wind {
    0% {
        top: 30%;
        height: 25%;
    }
    
    20% {
        top: 17.5%;
        height: 50%;
    }

    100% {
        top: 30%;
        height: 25%;
    }
}

@keyframes rain-fall {
    from {
        left: -20%;
        top: -40%;
    }

    to {
        left: -10%;
        top: -20%;
    }
}

@-webkit-keyframes rain-fall {
    from {
        left: -20%;
        top: -40%;
    }

    to {
        left: -10%;
        top: -20%;
    }
}

@keyframes clouds-move {
    from {
        left: -30%;
    }

    to {
        left: 0%;
    }
}

@-webkit-keyframes clouds-move {
    from {
        left: -30%;
    }

    to {
        left: 0%;
    }
}
