#love {
    &.ca-1 {
        .square {
            &.red {
                left: 0;
                width: 100%;
                height: 50%;
            }
            
            &.green {
                top: 50%;
                width: 50%;
                height: 50%;
            }
            
            &.blue {
                top: 50%;
                width: 50%;
                height: 50%;
            }
        }
    }
    
    &.ca-2 {
        .square {
            &.red {
                top: 41.2%;
                left: 45%;
                width: 5%;
                height: 8.8%;
            }
            
            &.green {
                top: 50%;
                right: 47.5%;
                width: 5%;
                height: 8.8%;
            }
            
            &.blue {
                top: 41.2%;
                left: 50%;
                width: 5%;
                height: 8.8%;
            }
        }
    }
    
    &.ca-3 {
        .square {
            &.red {
                left: 44%;
                border-radius: 100px;
            }
            
            &.green {
                background-color: red;
                right: 47.5%;
                top: 47.5%;
                transform: rotate(45deg);
            }
            
            &.blue {
                left: 51%;
                background-color: red;
                border-radius: 100px;
            }
        }
    }
    
    &.ca-4 {
        .square {
            &.green {
                &:after {
                    width: 60%;
                }

                &:before {
                    height: 60%;
                }
            }
        }
        
        .label {
            opacity: 1;
        }
    }
}