.transition-all {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

body {
    background-color: grey;
}

h1, h2, h3, h4 {
    color: white;
}

a {
    color: white;
    @extend .transition-all;
    
    &:hover {
        color: black;
    }
}

.controls {
    height: 55px;
    
    .pause:before {
        width: 10px;
    }
}

.code-wrap {
    position: relative;
    
    .code-lines {
        position: absolute;
        top: 0;
        left: 0;
        color: #c5c8c6;
        background-color: #23241F;
        font-family: monospace,monospace;
        font-size: 1em;
        padding-top: 8px;
        text-align: right;
        width: 45px;
        padding-right: 10px;
    }
    
    code {
        padding-left: 45px;
    }
    
    .code-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: darkslategray;
        color: #c5c8c6;
        padding: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.25rem;
    }
}

.nav-tabs {
    .nav-item {
        &.show {
            .nav-link {
                color: white;
                background-color: #565656;
            }
        }
    }
    
    .nav-link {
        color: white;
        @extend .transition-all;
        
        &.active {
            color: white;
            background-color: #565656;
        }
    }
}