#season { 
    svg {
        height: 100%;
        width: 100%;
    }
    
    .spring {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
    .summer {
        background: #bdedfc;
        background: -moz-linear-gradient(top, #bdedfc 0%, #05abe0 100%);
        background: -webkit-linear-gradient(top, #bdedfc 0%,#05abe0 100%);
        background: linear-gradient(to bottom, #bdedfc 0%,#05abe0 100%);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        
        .sun {
            animation: rotate-cw 10s infinite linear;
            color: gold;
            height: 20%;
            left: 85%;
            position: absolute;
            top: 2.5%;
            width: 15%;
        }
        
        .ground {
            background-color: #f6c300;
            bottom: 0%;
            height: 32%;
            left: 0%;
            position: absolute;
            width: 100%;
        }
        
        .net {
            bottom: 10%;
            color: white;
            height: 45%;
            left: 0%;
            position: absolute;
            width: 100%;
        }
        
        .volleyball {
            animation: volleyball-play 5s infinite linear;
            bottom: 30%;
            color: white;
            height: 10%;
            left: 13%;
            position: absolute;
            width: 100%;
            
            .fa-layers {
                animation: rotate-cw 1s infinite linear;
                height: 100%;
                width: 100%;
            }
            
            .fa-circle {
                color: #5d5d5d;
            }
        }
        
        .person {
            animation: person-jump 5s infinite linear;
            bottom: 15%;
            color: #a55d26;
            height: 30%;
            left: 0%;
            position: absolute;
            width: 100%;
            
            &.person-1 {
                animation-delay: 2.5s;
                left: -20%;
            }
            
            &.person-2 {
                left: 20%;
            }
        }
        
        .umbrella {
            bottom: 25%;
            height: 15%;
            left: 0%;
            position: absolute;
            width: 100%;
            
            &.umbrella-1 {
                color: orangered;
                left: -30%;    
            }
            
            &.umbrella-2 {
                color: purple;
                left: 30%;
            }
        }
    }
    
    .fall {
        background: #bdedfc;
        background: -moz-linear-gradient(top, #bdedfc 0%, #05abe0 100%);
        background: -webkit-linear-gradient(top, #bdedfc 0%,#05abe0 100%);
        background: linear-gradient(to bottom, #bdedfc 0%,#05abe0 100%);
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        
        .ground {
            background-color: #A55D26;
            bottom: 0%;
            height: 32%;
            left: 0%;
            position: absolute;
            width: 100%;
        }
        
        .umbrella {
            animation: umbrella-swing 3s infinite linear;
            color: midnightblue;
            height: 1%;
            left: 25%;
            line-height: 0;
            position: absolute;
            top: 75%;
            width: 50%;
            
            svg {
                bottom: 0;
                height: 6000%;
                position: absolute;
            }
        }
        
        .wind {
            animation: wind 3s infinite linear;
            top: 30%;
            color: lightseagreen;
            height: 25%;
            left: 5%;
            position: absolute;
            width: 25%;
        }
        
        .rain {
            animation: rain-fall 1s infinite linear;
            color: royalblue;
            height: 100%;
            left: -20%;
            position: absolute;
            top: -40%;
            width: 100%;
            
            svg {
                height: auto;
                position: absolute;
                width: 4%;
            }
        }
        
        .clouds {
            animation: clouds-move 5s infinite linear;
            color: white;
            height: 25%;
            left: -30%;
            overflow: hidden;
            position: absolute;
            top: -12.5%;
            width: 250%;
            
            svg {
                height: 100%;
                width: auto;
                margin-left: -1%;
                position: relative;
                
                &:nth-child(even) {
                    color: lightgrey;
                }
            }
        }
    }
    
    .winter {
        background: #bdedfc;
        background: -moz-linear-gradient(top, #bdedfc 0%, #05abe0 100%);
        background: -webkit-linear-gradient(top, #bdedfc 0%,#05abe0 100%);
        background: linear-gradient(to bottom, #bdedfc 0%,#05abe0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdedfc', endColorstr='#05abe0',GradientType=0 );
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
        
        .ground {
            background-color: #fff;
            bottom: 0%;
            height: 32%;
            left: 0%;
            position: absolute;
            width: 100%;
        }
        
        .tree {
            color: forestgreen;
            height: 75%;
            left: 50%;
            line-height: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 50%;
        }
        
        .crow {
            color: black;
            position: absolute;
            width: 10%;

            &.crow-1 {
                height: 15%;
                left: 10%;
                top: 75%;
                animation: crow-flip 2.5s infinite linear;
            }

            &.crow-2 {
                height: 1%;
                left: 55%;
                top: 45%;
                animation: pick 2.5s infinite linear;

                svg {
                    position: absolute;
                    height: 1000%;
                    bottom: 0;
                }
            }
        }
        
        .bell {
            animation: bell-swing 1s infinite linear;
            color: goldenrod;
            height: 1%;
            position: absolute;
            top: 52%;
            
            svg {
                height: 1000%
            }
            
            &.bell-1 {
                left: 57%;
                width: 10%;
            }

            &.bell-2 {
                left: 33%;
                width: 10%;
            }
        }
        
        .cloud-1 {
            color: white;
            height: 25%;
            left: 3%;
            position: absolute;
            top: 0px;
            width: 20%;
        }
        
        .star-1 {
            color: goldenrod;
            height: 12.5%;
            left: 50%;
            position: absolute;
            top: 5%;
            transform: translateX(-50%);
            width: 10%;
        }
        
        .gift-1 {
            color: tomato;
            height: 12.5%;
            left: 35%;
            position: absolute;
            top: 75%;
            width: 10%;
        }
        
        .gift-2 {
            color: indigo;
            height: 12.5%;
            left: 55%;
            position: absolute;
            top: 75%;
            width: 10%;
        }
        
        .sun {
            animation: rotate-cw 10s infinite linear;
            color: gold;
            height: 20%;
            left: 85%;
            position: absolute;
            top: 2.5%;
            width: 15%;
        }
        
        .flakes {
            color: white;
            height: 200%;
            line-height: 0;
            position: absolute;
            width: 2.5%;
            
            &.flakes-1,
            &.flakes-3,
            &.flakes-5 {
                animation: snow-fall-1 1s infinite linear;
                top: 15%;
            }
            
            &.flakes-2,
            &.flakes-4 {
                animation: snow-fall-2 1s infinite linear;
                top: 18%;
            }
            
            &.flakes-1 {
                left: 6%;
            }
            
            &.flakes-2 {
                left: 9%;
            }
            
            &.flakes-3 {
                left: 12%;
            }
            
            &.flakes-4 {
                left: 15%;
            }
            
            &.flakes-5 {
                left: 18%;
            }
            
            svg {
                height: auto;
                width: 100%
            }
        }
        
        .candle {
            color: tomato;
            height: 15%;
            line-height: 0;
            position: absolute;
            top: 15%;
            width: 5%;
            
            &.candle-1 {
                left: 40%;
            }
            
            &.candle-2 {
                left: 55%;
            }
            
            svg {
                animation: candle-fire .5s infinite linear;
                height: auto;
                left: 25%;
                position: relative;
                transition: none;
                top: 0;
                width: 50%;
            }
            
            .wax {
                background-color: white;
                border-radius: 5px;
                bottom: 0;
                height: 62.5%;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
                width: 50%;
            }
        }
    }
}
