<!DOCTYPE html>
<html>
    <head>
        <title>Canvas Animation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#212121">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href="css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <h1 class="text-center pb-3">
                        InsanityMeetsHH - Canvas Animation
                        <a href="https://github.com/InsanityMeetsHH/jquery-canvas-animation"><i class="fab fa-github"></i></a>
                    </h1>
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#love-tab" role="tab" aria-controls="love-tab" aria-selected="true">Spread Love</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#twitch-tab" role="tab" aria-controls="twitch-tab" aria-selected="false">Twitch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#docu-tab" role="tab" aria-controls="docu-tab" aria-selected="false">Docu</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 pb-3">
                    <div class="tab-content pt-3">
                        <div class="tab-pane fade show active" id="love-tab" role="tabpanel" aria-labelledby="love-tab">
                            <div id="love" class="canvas-ratio-16by9">
                                <div class="square red"></div>
                                <div class="square green"></div>
                                <div class="square blue"></div>
                                <div class="label">spread love</div>
                            </div>
                            
                            <div class="w-100"></div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#love-html-tab" role="tab" aria-controls="love-html-tab" aria-selected="true">HTML</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#love-js-tab" role="tab" aria-controls="love-js-tab" aria-selected="false">scripts.js</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#love-dcss-tab" role="tab" aria-controls="love-dcss-tab" aria-selected="false">love-canvas.css</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#love-acss-tab" role="tab" aria-controls="love-tab" aria-selected="false">love-animation.css</a>
                                </li>
                            </ul>
                            <div class="tab-content pt-3">
                                <div class="tab-pane fade show active" id="love-html-tab" role="tabpanel" aria-labelledby="love-html-tab">
                                    <pre><code id="code" class="html">&lt;!DOCTYPE html>
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Spread Love&lt;/title&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"&gt;

        &lt;link rel="stylesheet" href="css/jquery.canvas-animation.css"&gt;
        &lt;link rel="stylesheet" href="css/love-canvas.css"&gt;
        &lt;link rel="stylesheet" href="css/love-animation.css"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id="love" class="canvas-ratio-16by9"&gt;
            &lt;div class="square red"&gt;&lt;/div&gt;
            &lt;div class="square green"&gt;&lt;/div&gt;
            &lt;div class="square blue"&gt;&lt;/div&gt;
            &lt;div class="label"&gt;spread love&lt;/div&gt;
        &lt;/div&gt;
        &lt;script src="js/jquery.js"&gt;&lt;/script&gt;
        &lt;script src="js/jquery.canvas-animation.js"&gt;&lt;/script&gt;
        &lt;script src="js/scripts.js"&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>
                                </div>
                                <div class="tab-pane fade" id="love-js-tab" role="tabpanel" aria-labelledby="love-js-tab">
                                    <pre><code id="code" class="javascript">// jQuery.noConflict();
(function($) {
    $(document).ready(function() {
        $('#love').canvasAnimation(loveConfig);
    });
})(jQuery);

var loveConfig = {
    autoplay : true,
    infinity: false,
    steps : [
        {
            addClass : 'ca-1',
            duration : 800
        },
        {
            addClass : 'ca-2',
            duration : 800
        },
        {
            addClass : 'ca-3',
            duration : 800
        },
        {
            addClass : 'ca-4',
            duration : 500
        }
    ]
};</code></pre>
                                </div>
                                <div class="tab-pane fade" id="love-dcss-tab" role="tabpanel" aria-labelledby="love-dcss-tab">
                                    <pre><code id="code" class="css">#love {
    background-color: black;
}

#love .square {
    position: absolute;
    width: 5%;
    height: 8.8%;
}

#love .square.red {
    background-color: red;
    top: 0;
    left: 47.5%;
}

#love .square.green {
    background-color: green;
    top: 91.2%;
    right: 0;
}

#love .square.green:after {
    content: '';
    position: absolute;
    right: 90%;
    width: 0%;
    height: 100%;
    background-color: red;
}

#love .square.green:before {
    content: '';
    position: absolute;
    bottom: 90%;
    width: 100%;
    height: 0%;
    background-color: red;
}

#love .square.blue {
    background-color: blue;
    top: 91.2%;
    left: 0;
}

#love .label {
    font-family: Arial, sans-serif;
    color: lime;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 60%;
    left: 50%;
    letter-spacing: 3px;
    transform: translateX(-50%);
    opacity: 0;
    -webkit-animation: hue 6s infinite linear;
}</code></pre>
                                </div>
                                <div class="tab-pane fade" id="love-acss-tab" role="tabpanel" aria-labelledby="love-acss-tab">
                                    <pre><code id="code" class="css">#love.ca-1 .square.red {
  left: 0;
  width: 100%;
  height: 50%;
}

#love.ca-1 .square.green {
  top: 50%;
  width: 50%;
  height: 50%;
}

#love.ca-1 .square.blue {
  top: 50%;
  width: 50%;
  height: 50%;
}

#love.ca-2 .square.red {
  top: 41.2%;
  left: 45%;
  width: 5%;
  height: 8.8%;
}

#love.ca-2 .square.green {
  top: 50%;
  right: 47.5%;
  width: 5%;
  height: 8.8%;
}

#love.ca-2 .square.blue {
  top: 41.2%;
  left: 50%;
  width: 5%;
  height: 8.8%;
}

#love.ca-3 .square.red {
  left: 44%;
  border-radius: 100px;
}

#love.ca-3 .square.green {
  background-color: red;
  right: 47.5%;
  top: 47.5%;
  transform: rotate(45deg);
}

#love.ca-3 .square.blue {
  left: 51%;
  background-color: red;
  border-radius: 100px;
}

#love.ca-4 .square.green:after {
  width: 60%;
}

#love.ca-4 .square.green:before {
  height: 60%;
}

#love.ca-4 .label {
  opacity: 1;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}</code></pre>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="twitch-tab" role="tabpanel" aria-labelledby="twitch-tab">
                            <div id="twitch" class="canvas-ratio-16by9">
                                <div class="logo">
                                    <div class="background-top"></div>
                                    <div class="background-center"></div>
                                    <div class="background-bottom"></div>
                                    <div class="background-tip">
                                        <div class="bg-tip"></div>
                                    </div>
                                    <div class="foreground-top"></div>
                                    <div class="foreground-bottom">
                                        <div class="fg-bottom"></div>
                                    </div>
                                    <div class="foreground-tip">
                                        <div class="fg-tip"></div>
                                    </div>
                                    <div class="eye left"></div>
                                    <div class="eye right"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="docu-tab" role="tabpanel" aria-labelledby="docu-tab">
<pre><code id="code" class="javascript">$('#canvas').canvasAnimation({
    steps : [
        {
            addClass: '',    // adds one or more classes to #canvas ('foo bar' adds 2 classes)
            removeClass: '', // remove one or more classes from #canvas ('foo bar' removes 2 classes)
            duration: 800    // duration of this step (milliseconds)
        }
    ],
    timeout: 0, // 0 = starts immediately the first step (milliseconds)
    reset_duration: 500, // time it takes to reset all animations (milliseconds)
    infinity: true, // if true: plays animation infinity
    autoplay: true, // if true: plays animation instantly
    controls: true, // if true: adds controls to canvas
    controls_fa: null, // fontawesome version (4 or 5)
    controls_wrapper: '.controls', // class of the controls wrapper
    play_button: '.play', // class of play button
    pause_button: '.pause', // class of pause button
    reset_button: '.reset', // class of reset button
    fullscreen_button: '.fullscreen', // class of fullscreen button
    class_done: 'done', // is set if the animation is done
    class_wait: 'wait', // is set if autoplay : false and animation is never played or user clicked on reset button
    class_wrap: 'canvas-animation',
    controls_template:
        '&lt;div class="controls"&gt;' +
            '&lt;div class="play #PLAY#"&gt;&lt;/div&gt;' +
            '&lt;div class="pause #PAUSE#"&gt;&lt;/div&gt;' +
            '&lt;div class="reset #RESET#"&gt;&lt;/div&gt;' +
            '&lt;div class="fullscreen #FULLSCREEN#"&gt;&lt;/div&gt;' +
        '&lt;/div&gt;',
    callback_play: null, // called before first animation step
    callback_done: null, // called after last animation step
    callback_wait: null  // called if class_wait was added
});</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="js/scripts.js"></script>
    </body>
</html>