<!DOCTYPE html>
<html>
    <head>
        <title>Canvas Animation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/styles.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="canvas" class="canvas-ratio-16by9">
            <div class="square red"></div>
            <div class="square green"></div>
            <div class="square blue"></div>
            <div class="label">spread love</div>
        </div>
        <div class="controls">
            <div class="play"></div>
            <div class="reset"></div>
            <div class="fullscreen"></div>
        </div>
        
        <script src="js/scripts.js"></script>
    </body>
</html>